<h1>Granny Goodnesses Greatest Recipes</h1>

<% if @success %>
  <p> <%= @success %></p>
<% end %>

<% if @error %>
  <p> <%= @error %> </p>
<% end %>

<% @recipes.each do |recipe| %>
  <article>
    <h3><a href="/recipes/<%=recipe.id%>"><%= recipe.title %></a></h3>
    <p class="description"><%= recipe.description %></p>
  </article>
<% end %>

<h2>Add Your Own!</h2>
<p>Oh wait, the great recipe book!</p>
<form action="recipes" method="post">
  <strong>Created by</strong> <br />
  <input type="text" name="created_by" /> <br />
  <strong>Title</strong> <br />
  <input type="text" name="title" /> <br />
  <strong>Description</strong> <br />
  <input type="text" name="description" /> <br />
  <strong>Instructions</strong> <br />
  <input type="text" name="instructions" /> <br />
  <input type="submit" value="Submit Recipe"/> <br />
</form>